<!-- Mobile menu -->
<nav class="navbar navbar-mobile navbar-toggleable-sm d-sm-block d-md-none">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="mobileNavbar">
        <div class="navbar-nav">           
            <a class="nav-item nav-link active" href="www.google.com">MY ACCOUNT</a>
        </div>
    </div>
</nav>
<!-- Desktop menu -->
<nav class="navbar d-none d-md-block">
    <ul class="justify-content-center nav">
        <li class="nav-item">
                <a class="nav-item nav-link active" href="www.google.com">MY ACCOUNT</a>
        </li>
    </ul>
</nav>
